body {
    background-color: rgb(255, 223, 210);
    padding: 10px 20px;
    font-family: "Roboto Mono", monospace;
}

fieldset {
    width: 320px;
    margin: 0 20px;
    padding: 10px;
}
fieldset#result {
    width: 367px;
}
fieldset#applications {
    width: 774px;
}
.form-row-container {
    display: flex;
    padding: 40px;
}

legend {
    font-size: 22px;
    font-weight: bold;
}
.error {
    color: red;
    font-weight: bold;
}
.success {
    color: green;
    font-weight: bold;
}

.profile-image {
    max-width: 200px;
    height: auto;
}
/* Table */

table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }
}

.button {
    color: white;
    background-color: #161616;
    transition: 0.2s ease;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

.button:hover {
    opacity: 0.85;
    cursor: pointer;
}
#profileImage-preview {
    width: 150px;
    height: auto;
}
