.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.move, .dont-move {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.move {
  background: #00ffcc;
}

.dont-move {
  background: #ff9999;
}

.player {
  width: 800px; /* 硬砌 pixel 又咁大 => 注定無 responsive */
  border: solid 1px #000000;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
}

.player span {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #00ffcc;
  top: 10px;
  left: 0;
}