body {
  margin: 0;
}

header {
  font-weight: bold;
  font-size: 50px;
  height: 80px;
  padding: 40px;
}

main {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  margin: 1px;
  width: 40px;
  height: 40px;
  background: lightgoldenrodyellow;
  outline: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square-indicator {
  margin: 1px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.square:hover {
  /* opacity: 0.9; */
  filter: brightness(0.8);
}
.selected-neighbour {
  filter: brightness(0.5);
}
.filled {
  background: red;
}
legend {
  font-weight: bold;
  font-size: 30px;
}
fieldset {
  padding: 30px;
}
fieldset .header {
  font: bold 26px black;
}
fieldset label {
  font-size: 22px;
}
fieldset input {
  height: 30px;
  margin: 0 20px;
}
input.short {
  width: 50px;
  font-size: 20px;
  text-align: center;
}
.formular {
  font-size: 22px;
}
#pivotX {
  color: blue;
}
#pivotY {
  color: red;
}

#columns {
  color: green;
}
#rows {
  color: orange;
}
