body {
    background-color: burlywood;
    background-image: url("./wallpaper.jpg");
    background-size: cover;
    background-repeat: repeat;
    padding: 40px 10px 0 10px;
    min-height: 100%;
    overflow: scroll;
}
.board-title {
    padding: 10px;
    font-size: 30px;
    margin-top: 3px;
    background: white;
    font-weight: bold;
    user-select: none;
}
.memo-board {
    display: flex;
    flex-wrap: wrap;
}
.memo {
    width: 200px;
    height: 200px;
    font-weight: bold;
    position: relative;
    box-shadow: 10px 10px 10px;
    margin: 30px;
    font-size: 26px;
}
.memo:nth-child(2n) {
    background: rgb(15, 181, 223);
}
.memo:nth-child(2n + 1) {
    background: #f5e37b;
}
.control-container {
    background: #871413;
    padding: 18px;
    border-radius: 15px;
    text-align: center;
    width: 360px;
}
.icon-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.icon-btn {
    transition: all 0.2s linear;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    border-radius: 100%;
}
.icon-btn.edit {
    position: absolute;
    top: -20px;
    right: -20px;
}
.icon-btn.trash {
    position: absolute;
    bottom: -20px;
    right: -20px;
}
.control-admin-title {
    color: white;
}

#admin-from {
    margin-top: 20px;
}

/* google login btn */
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.google-btn {
    margin: 10px 0;
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}
.google-btn .google-icon {
    width: 18px;
    height: 18px;
}
.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    cursor: pointer;
}
.google-btn:active {
    background: #1669f2;
}

div.memo-layout > img{
    width:80px;
    float:right;
    margin:10px;
}

div.memo-layout > div{
    overflow-wrap: break-word;
    margin: 10px
}

.show{
    display:block;
}

.hide{
    display:none;
}
