body{

    background-image: url('./images/background.jpg');
    background-repeat: repeat;
    background-size: cover;
}

#input-memo-box{
    background-color:#F5E37B;
    max-width:200px;
    width:100%;
    height:200px;
    box-shadow: 10px 5px 5px black;
    resize: none;
}

#memo-board{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.memo{
    width:200px;
    height:200px;
    margin:10px;
    box-shadow: 10px 5px 5px black;
    position: relative;
}

.memo .bi{
    color: black;
    background-color: white;
    border-radius: 100px;
    padding: 8px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.memo .bi-pencil-square{
   
    right:-12px;
    bottom:-12px;
}
.memo .bi-trash{
    right: -12px;
    top: -12px;
}

.memo:nth-child(3n+1){
    background-color:#F5E37B;
}
.memo:nth-child(3n+2){
    background-color:#e61bba;
}
.memo:nth-child(3n){
    background-color:#34db3c;
}

#editing-area{
    background-color: darkgray;
    color:white;
    padding:30px;
    text-align:center;
}