body {
    background-color: #FFCC00;
    /* margin: 0 0 100px 0; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0;
}

.social-icon-group {
    width: 200px;
    display: flex;
    justify-content: inherit;
}

.social-icon-group>.icon {
    background-color: #453A12;
    width: 32px;
    height: 32px;
    color: #FFCC00;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link.active {
    background: #353535;
    color: #fff;
    box-shadow: inset 0 0 15px #000;
}

.nav-link {
    padding: 25px;
}

.nav-link:hover {
    background: #353535;
    color: #fff !important;
    box-shadow: inset 0 0 15px #000;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-inner {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav {
    width: 100%;
    /* justify-content: space-between; */
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.carousel-indicators .active {
    opacity: .8;
    background-color: black;
}

.carousel-item {
    position: relative
}

.image-inner-text-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-inner-text-card {
    background: black;
    opacity: .8;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

.image-inner-text-card>h2 {
    /* font-family: "League Gothic"; */
    font-size: 36px;
    border-top: 4px solid white;
    border-bottom: 1px gray solid;
    padding: 20px 0;
}

.image-inner-text-card>p {
    border-bottom: 4px solid white;
    padding: 20px 0;
    font-size: 14px;
}

.nav-item {
    flex-shrink: 1;
}

.latest-media-container {
    padding-top: 60px;
    max-width: 100%;
    padding-bottom: 10px;
}

.block-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif;
}

img {
    max-width: 100%;
}

.media-block {
    padding: 10px;
    background-color: white;
    min-height: 295.188px;
    position: relative;
}

.media-block img:hover {
    cursor: pointer;
}

.media-block-details {
    padding: 10px;
}

.media-block-pic {
    position: relative;
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container i{
    opacity: 0;
    font-size: 60px;
    color: white;
    transition: all .3s ease-in-out;
}
.icon-container:hover i{
    opacity: 1;
}
.icon-container:hover{
    cursor: pointer;
}
.pair-title {
    font-size: 13px;
    line-height: 1;
    margin: 0 0 5px 0;
}

.pair-sub {
    font-size: 12px;
    line-height: 1;
    margin: 0;
    color: #7c7c7c;
    font-style: normal;
}

.btn {
    padding: 7px 12px 6px 12px;
    margin-top: 10px;
    background-color: #FFCC00;
    color: black;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    border-radius: 0;
}

.news-section {
    padding: 10px 0;
}

.event-widget {
    display: flex;
}

.event-date {
    background-color: #353535;
    text-align: center;
    width: 18%;
    padding: 10px 0;
    font-weight: bold;
}

.day {
    color: #fff;
    font-size: 25px;
}

.month {
    font-size: 10px;
    color: #a8a8a8;
    padding: 2px 0 3px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.year {
    color: #FFF;
    font-size: 17px;
}

.event-location {
    background-color: white;
    width: 82%;
    padding: 10px;
}

.event-special {
    border-bottom: solid 1px #ffcc00;
    color: black;
}

.event-section {
    margin-bottom: 20px;
}

.galleries-widget {
    padding: 10px;
    background-color: white;
}

.galleries-block-details {
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(53, 53, 53);
    color: #fc0;
}

.post-featured {
    position: relative;
}

.post-description {
    padding: 10px 30px 30px 30px;
    background-color: white;
}

.post-date {
    position: absolute;
    bottom: -5px;
    left: 30px;
    padding: 15px 0;
    width: 65px;
    background-color: #353535;
    border-bottom: 5px solid #fc0;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.post-meta {
    font-size: 12px;
    margin: 18px 0 15px 0;
    border-top: double 3px #f1f1f1;
    border-bottom: double 3px #f1f1f1;
    padding: 5px 0;
}

p {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 17px;
}

h2 a, p a, h4 a {
    color: #353535 !important;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid 1px #ffcc00;
}

h2 a:hover, p a:hover, h4 a:hover {
    border-bottom: solid 1px black;
}

.latestnews-section, .latest-album-section {
    margin-bottom: 30px;
}

.icon-media-section {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.album-widget {
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi.bi-play-circle-fill {
    font-size: 30px;
    color: #4B4B4B;
}

.bi.bi-play-circle-fill:hover {
    cursor: pointer;
}

.footer-container {
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding: 60px 0 30px 0;
}

.footer-widget {
    padding: 0 15px;
}