* {
  font-family: "Source Sans Pro", sans-serif;
}
.board-row {
  background-color: #1bbcab;
  padding: 26px;
}
.board {
  background-color: #14a091;
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  height: 380px;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;
}
.square {
  background-color: #1bbcab;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  font-weight: bold;
  /* border: 1px solid darkblue; */
}
.img-circle {
  width: 100px;
  height: 100px;
}
.fa-times {
  color: white;
}
.far,
.fas {
  font-size: 80px;
}
.restart-container {
  text-align: center;
  padding: 25px;
  color: #1bbcab;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}
.restart-container:hover {
  cursor: pointer;
  background-color: #d6f0ee;
}
main {
  border: 1px lightgrey solid;
  border-radius: 15px;
  max-width: 700px;
  margin: 30px auto;
}
footer {
  text-align: end;
  padding: 12px;
  color: grey;
}
.scoring-container {
  display: flex;
  width: 160px;
  height: 40px;
  /* background: antiquewhite; */
  border-radius: 10px;
  /* padding: 0 15px; */
  margin: 20px;
  -webkit-box-shadow: 0px 12px 14px -7px #000000;
  box-shadow: 0px 12px 14px -7px #000000;
}
.scoring-container-inner {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  -webkit-box-shadow: 0px 12px 11px -9px #14a091;
  box-shadow: 0px 12px 11px -9px #14a091;
  padding: 0 12px;
}
.scoring-row {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.top-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.fa-share-alt {
  color: rgb(70, 134, 242);
  font-size: 20px;
}
.fa-chevron-down {
  color: darkslategrey;
  font-size: 16px;
  padding-right: 5px;
}
.level-dropdwon {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}
.level-dropdwon:hover {
  cursor: pointer;
}
.level-dropdwon .label {
  font-weight: bold;
  color: darkgrey;
  font-size: 22px;
}
section {
  max-width: 700px;
  margin: 30px auto;
}
.turn-row{
  text-align: center;
  padding: 22px;
  color: black;
}

.turn-row i{
  font-size: 22px;
  color: black;
}