*{
    user-select: none;
}
ul{
    background-color: lightyellow;
    padding: 20px;
}

li{
    padding: 20px;
    background-color: lightseagreen;
    margin: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
li:hover{
    cursor: pointer;
    opacity: 0.9;
}