.head {
    font-size: 50px;
    margin: 40px;
    background-color: lightgray;
    padding: 10px;
}
.head div {
    margin: 20px 10px;
    padding: 10px;
}
.face{
    background-color: orange
}
.nose{
    background-color: pink;
}

/* .nose:hover, .face:hover, .head:hover{
    outline: solid 4px black;
    background-color: darkgray;
} */

.head > .face > .nose:hover{
    outline: solid 4px black;
}

.head > .face:hover{
    outline: solid 4px black;
}
.head:hover{
    outline: solid 4px black;
}