.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  padding: 5% 5% 0 5%;
}

.App-link {
  color: #61dafb;
}
.content-container{
  min-height: 80vh;
  background-color: #282c34;
  padding: 5%;
}
.collapse{
  width: 800px;
  font-size: 14px;
}
.card{
  background:lightblue !important;
  width:90%;
}
.packageJson pre{
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-modal{
  color: red;
}
.my-table{
  border-radius: 30px;
}