body {
  padding: 0;
  margin: 0;
}

strong {
  color: red;
}

nav{
    background-image: url("./test_image.png");
}

.header-class {
  background: lime;
}
#header-id:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 7px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 16px 7px rgba(0,0,0,0);
}
#header-id {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  margin: 40px;
  /* border: solid 5px red; */
  border-width: 2px;
  border-color: black;
  border-style: dotted;
}

[href="www.google.com"] {
  padding: 100px;
}

div.outer {
  font-size: 60px;
  width: 300px;
  height: 200px;
}

div.outer:hover {
  background: green;
  cursor: pointer;
}

.long-content-container{
    height: 50px;
    background: khaki;
    display: inline;
}
@media only screen and (max-width: 768px) {
    .long-content-container{
       display: block;
        background: blue !important; 
    }
  }

  @media only screen and (max-width: 1000px) {
    .long-content-container{
       display: block;
        background: red;
    }
  }

.dummy12{
  font-size: 14px !important;
  background-color: mediumorchid;
}