body {
  background-color: #ffcc00;
  margin: 0 0 100px 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
}
.social-icon-group {
  width: 200px;
  display: flex;
  justify-content: inherit;
}
.social-icon-group > .icon {
  background-color: #453a12;
  width: 32px;
  height: 32px;
  color: #ffcc00;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link.active {
  background: #353535;
  color: #fff;
  box-shadow: inset 0 0 15px #000;
}
.nav-link {
  padding: 25px;
}
.nav-link:hover {
  background: #353535;
  color: #fff !important;
  box-shadow: inset 0 0 15px #000;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-inner {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav {
  width: 100%;
  /* justify-content: space-between; */
}
.carousel-indicators {
  bottom: -60px;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.carousel-indicators .active {
  opacity: 0.8;
  background-color: black;
}
.carousel-item {
  position: relative;
}
.image-inner-text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-inner-text-card {
  background: black;
  opacity: 0.8;
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 300px;
}
.image-inner-text-card > h2 {
  /* font-family: "League Gothic"; */
  font-size: 36px;
  border-top: 4px solid white;
  border-bottom: 1px gray solid;
  padding: 20px 0;
}
.image-inner-text-card > p {
  border-bottom: 4px solid white;
  padding: 20px 0;
  font-size: 14px;
}
.nav-item {
  flex-shrink: 1;
}
