*{
    font-family: 'Source Sans Pro',sans-serif;
}
.board{
    /* background-color: dodgerblue; */
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    height: 380px;
    justify-content: space-between;
    align-content: space-between;
    margin: auto;
}

.square{
  background-color: #DAE8FC;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  font-weight: bold;
  border: 1px solid darkblue;
}