.my-container-fluid{
    background-color: bisque;
    text-align: center;
    height: 300px;
    /* position: sticky; */
    top:100px
}
.my-container{
    background-color: pink;
    text-align: center;
    height: 300px;
}
.my-navbar{
    background-color: #0F5889 !important;
}

.header{
    background: pink;
    text-align: center;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
        background: blue;
    }
  
    50%{
        background: red;
    }
    to {
      margin-left: 0%;
      width: 100%;
      background: green;
      border-radius: 100%;
    }
  }
  
  div.circle{
      height: 100px;
      width: 100px;
      /*Animation specified by the time and action*/
      animation: slidein 3s cubic-bezier(0.39, 0.58, 0.57, 1) 1s infinite alternate;
  }

  #delay {
      padding:10px;
      background-color: black;
      width: auto;
      color: white;
    font-size: 14px;
    transition-property: all;
    transition-duration: 4s;
    /* transition-delay: .3s; */
  }
  
  #delay:hover {
    /* font-size: 36px; */
    /* background-color: red; */
    opacity: 0.6;
    transform: rotate(10deg);
    transform: scale(3,2);
    transform: skew(20deg, 40deg);
    transform: translate(100px,100px);
}