body {
  background-color: #ffcc00;
  margin: 0 0 100px 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
}
.social-icon-group {
  width: 200px;
  display: flex;
  justify-content: inherit;
}
.social-icon-group > .icon {
  background-color: #453a12;
  width: 32px;
  height: 32px;
  color: #ffcc00;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link.active {
  background: #353535;
  color: #fff;
  box-shadow: inset 0 0 15px #000;
}
.nav-link {
  padding: 25px;
}
.nav-link:hover {
  background: #353535;
  color: #fff !important;
  box-shadow: inset 0 0 15px #000;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-inner {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav {
  width: 100%;
  /* justify-content: space-between; */
}
.carousel-indicators {
  bottom: -60px;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.carousel-indicators .active {
  opacity: 0.8;
  background-color: black;
}
.carousel-item {
  position: relative;
}
.image-inner-text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-inner-text-card {
  background: black;
  opacity: 0.8;
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 300px;
}
.image-inner-text-card > h2 {
  /* font-family: "League Gothic"; */
  font-size: 36px;
  border-top: 4px solid white;
  border-bottom: 1px gray solid;
  padding: 20px 0;
}
.image-inner-text-card > p {
  border-bottom: 4px solid white;
  padding: 20px 0;
  font-size: 14px;
}
.nav-item {
  flex-shrink: 1;
}
.latest-media-container {
  margin-top: 70px;
}
.section-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
  font-family: "Oswald", sans-serif;
}
.latest-media-card {
  background-color: white;
  padding: 10px;
  background-image: url("./images/camera-solid.svg");
  background-repeat: no-repeat;
  background-position: 90% 90%;
  background-size: 32px;
}

.latest-media-card .details {
  padding: 10px;
}
.latest-media-card .place {
  color: grey;
  font-size: 10px;
  padding: 8px 0;
  min-height: 30px;
}
.latest-media-card .name {
  font-size: 12px;
  font-weight: bold;
}
.latest-media-card button {
  border: 0px;
  background-color: #ffcc00;
  color: #000;
  width: 72px;
}

.latest-media-card button:hover {
  background-color: black;
  color: #ffcc00;
}
.news-card {
  background-color: white;
  margin: 0 0 30px 0;
}
.news-card .details {
  padding: 10px;
}
.news-card .title {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #ffcc00;
}
.news-card .title:hover {
  text-decoration-color: blue;
}
.news-card .field {
  border-top: 1px double #d3d3d378;
  border-bottom: 1px double #d3d3d378;
  margin: 20px 0;
  color: #626262;
  font-size: 12px;
}
.news-card .caption {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.image-container {
  position: relative;
}
.date-card {
  background-color: #ffcc00;
  padding: 0 0 6px 0;
  width: 70px;
  position: absolute;
  bottom: -6px;
  z-index: 10;
  left: 20px;
  color: white;
  text-align: center;
}
.date-card .date {
  font-size: 32px;
  font-weight: bold;
}
.date-card .month {
  font-size: 10px;
  font-weight: #a8a8a8;
}
.date-card .year {
  font-size: 18px;
  font-weight: bold;
}
.image-container-inner {
  background-color: #353535;
}
